.title {
    display: flex;
    justify-content: center;
    color: coral;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.scene {
    text-alighn: center;
    width: 60%;
    height: 20rem;
    margin: 0 auto;
}

.canvas {
    background: gray;
}